.toc-container {
  width: 200px;
}

.toc-wrapper {
  color: white;
  width: 200px;
  display: grid;
  gap: 10px;
  align-items: center;
}

.toc-item {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  /* margin-left: 5px; */
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.toc-content {
  color: white;
}
.toc-image {
  height: 100px;
  width: 100px;
}
/* toc */
.toc-item:hover {
  margin-left: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.toc-item {
  width: 250px;
  transition: 1s;
  box-shadow: 0 4px 200px rgba(0, 0, 0, 0.5), 0 1px 100px rgba(0, 0, 0, 0.8);

}
@media screen and (max-width: 700px) {
  .toc-item {
    width: 160px;
    
  
  }
}
@media screen and (max-width: 900px) {
  .toc-item {
    width: 180px;
    
  
  }
}