* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  background: #2e364a;
}
.timeline {
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  margin: 50px auto;
}
.container {
  padding: 10px 50px;
  position: relative;
  width: 100%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 50px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-bottom: 100px;
}
.movedown {
  animation: movedown 1s linear forwards;
}

.container:nth-child(2) {
  animation-delay: 1.2s;
}
.container:nth-child(3) {
  animation-delay: 2.1s;
}
.container:nth-child(4) {
  animation-delay: 3.1s;
}
.container:nth-child(5) {
  animation-delay: 4s;
}
.container:nth-child(6) {
  animation-delay: 5s;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.text-box {
  padding: 20px 30px;
  background: black;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container {
  left: 0;
  width: 400px;
}
.right-container {
  left: 25%;
  width: 400px;
}
.container img {
  position: absolute;
  width: 47px;
  border-radius: 50%;
  right: -20px;
  height: 50px;
  top: 32px;
  z-index: 10;
  background-color: #fff;
}
.underImg {
  position: absolute;
  width: 47px;
  right: -20px;
  height: 50px;
  top: 90px;
  /* z-index: 10; */
  color: white;
  text-transform: uppercase;
}
.right-container img {
  left: -20px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #2196f3;
  top: 0;
  left: 75%;
  margin-left: -px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.text-box {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 44px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: 35px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 44px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: 34px;
}
@media screen and (max-width: 800px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 20px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: 65px;
  }
  .underImg {
    position: absolute;
    width: 47px;
    right: 200px;
    height: 50px;
    top: 90px;
    z-index: 10;
    color: white;
    text-transform: uppercase;
    left: 5px;
    font-size: 11px;
  }
  .container {
    width: 300px;
  }
  .underImg-right {
    font-size: 11px;
  }
}
.underImg-right {
  position: absolute;
  width: 47px;
  left: 5px;

  height: 50px;
  top: 90px;
  z-index: 10;
  color: white;
  text-transform: uppercase;
}
