body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
}
